@charset "utf-8";

html, 
html * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
    
    
}

body, .b-container{
    margin: 0;
    padding: 0;
    background-color: black;
    color: #fff;
}

.list  p {
    font: arial;
    font-size: 14px;
    background-color: black;
}
.buttons{
    text-align: center;
}
.button {
    background-color: #535353;
	border-radius:3px;
	border:1px solid #747474;
	display:inline-block;
	cursor:pointer;
	color: #B9B9B9;
	font-size: 1.2em;
	padding:6px 12px;
	text-decoration:none;
}
.button:hover {
    background-color: #251D1D;
    color: #FFFFFF;
    text-decoration:none;
}
.button:active {
	position:relative;
	top:1px;
}

.container-buttons{
    padding: 1em;
}

.footer-bottom{
    padding: 1.5em;
    text-align: center;
    font-size: 1.2em;
}
.text-white{
    color: white;
}
.title{
    font-weight: 500;
    font-size: 2em;
}

.active a{
    background-color: #4E4E4E;
    color: #FFFFFF;
}


/* style for tab video page*/

/*landscape and mobile size*/
@media screen and (orientation:landscape) and (max-height:505px){
    

    iframe{
        width: 100%;
        height: 40vw;
    }
}


/* tablet and desctop view*/
@media screen and (min-width: 768px) {
    
    
    iframe{
    width: 100%;
    height: 80vh;
    margin-left: 0;
}
    
}

/* mobile View*/
@media screen and (max-width: 767px) and (orientation:portrait){
    
    iframe{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 60.25vw; 
    }

}






